/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: lighten($color-dark-bg, 70%);
	padding: 40px 15px;
	text-align: center;
	p {
		margin-bottom: 0;
	}
}
