/* Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: $color-container-bg;
	text-align: center;
	border-bottom: 1px solid $color-button-border;
    width: 100%;
    position: fixed;
	.wrap {
		padding: 20px;
	}
}

/* Site Title and Description
--------------------------------------------- */

.site-title {
	font-size: 30px;
	letter-spacing: 1px;
	margin-bottom: 0;
	line-height: $heading-font-line-height;
	a {
		color: $color-link-hover;
		&:hover {
			color: $color-link-hover;
		}
	}
}

.header-image {
	.title-area {
		float: left;
		display: block;
		padding-left: 15px;
		width: auto;
	}
	.site-title > a {
		background-position: center left !important;
		background-size: 100% auto !important;
		background-repeat: no-repeat !important;
		float: left;
		min-height: 56px;
	}
	.site-description,
	.site-title {
		display: block;
		text-indent: -9999px;
		margin: 0;
	}
	button.menu-toggle {
		float: right;
		margin: 0 auto;
		margin-right: 15px;
		position: relative;
	}
}

.site-description {
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	margin-bottom: 10px;
	line-height: $heading-font-line-height;
}

/* Header Widget Area
--------------------------------------------- */

.header-widget-area .widget_text {
	margin-top: 10px;
	p {
		margin-bottom: 0;
	}
}
