/* Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.site-container {
	background-color: $color-container-bg;
	margin: 0 auto;
}

.site-inner {
	clear: both;
	padding-top: 130px;
}

/* Homepage
--------------------------------------------- */

.front-page-2,
.footer-widgets {
  padding: 50px;
  .widget-area {
    @extend .wrap;
  }
}

.dark-cover {
  background: rgba(0,0,0,0.6);
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5));
  color: $color-light-on-dark;
  padding: 50px;
  .entry-title {
    color: $color-light-on-dark;
  }
}

.light-cover {
  background: rgba(255,255,255,0.8);
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.6));
  padding: 50px;
}

/* Related Content
--------------------------------------------- */

.related-content-wrap.wrap {
  margin-top: -20px;
  padding-bottom: 20px;
  .related-content-item {
    width: 30%;
    margin-right: 3%;
    float: left;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    }
    .related-content-item-bg {
      background-size: cover;
      background-repeat: no-repeat;
    }
    .related-content-item-wrap {
      background: rgba(255,255,255,0.8);
      background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.6));
      padding: 20px;
    }
    .related-content-item-title {
      @extend .entry-title;
    }
  }
}

