/* Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.site-container {
	background-color: $color-container-bg;
	margin: 0 auto;
}

.site-inner {
	clear: both;
	padding-top: 130px;
}

/* Homepage
--------------------------------------------- */

.front-page-1,
.front-page-2 {
  padding: 50px;
  .widget-area {
    @extend .wrap;
  }
}

